Connected Services/ServiceReference3/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/IoT_Consumer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_IoTConsume_InputMessage">
    <wsdl:part name="parameters" element="tns:IoTConsume" />
  </wsdl:message>
  <wsdl:message name="IService1_IoTConsume_OutputMessage">
    <wsdl:part name="parameters" element="tns:IoTConsumeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DataIngressed_InputMessage">
    <wsdl:part name="parameters" element="tns:DataIngressed" />
  </wsdl:message>
  <wsdl:message name="IService1_DataIngressed_OutputMessage">
    <wsdl:part name="parameters" element="tns:DataIngressedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCompleted_Ratio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompleted_Ratio" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCompleted_Ratio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompleted_RatioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDefective_Ratio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefective_Ratio" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDefective_Ratio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefective_RatioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ResponseTime_InputMessage">
    <wsdl:part name="parameters" element="tns:ResponseTime" />
  </wsdl:message>
  <wsdl:message name="IService1_ResponseTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResponseTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="IoTConsume">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IoTConsume" message="tns:IService1_IoTConsume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IoTConsumeResponse" message="tns:IService1_IoTConsume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataIngressed">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DataIngressed" message="tns:IService1_DataIngressed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DataIngressedResponse" message="tns:IService1_DataIngressed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompleted_Ratio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCompleted_Ratio" message="tns:IService1_GetCompleted_Ratio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCompleted_RatioResponse" message="tns:IService1_GetCompleted_Ratio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefective_Ratio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDefective_Ratio" message="tns:IService1_GetDefective_Ratio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDefective_RatioResponse" message="tns:IService1_GetDefective_Ratio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResponseTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ResponseTime" message="tns:IService1_ResponseTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ResponseTimeResponse" message="tns:IService1_ResponseTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IoTConsume">
      <soap:operation soapAction="http://tempuri.org/IService1/IoTConsume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataIngressed">
      <soap:operation soapAction="http://tempuri.org/IService1/DataIngressed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompleted_Ratio">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCompleted_Ratio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefective_Ratio">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDefective_Ratio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResponseTime">
      <soap:operation soapAction="http://tempuri.org/IService1/ResponseTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/IoT_Consumer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>