Connected Services/ServiceReference2/IoT_Consumer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IoT_Consumer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IoT_Consumer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIoTData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IoTData" nillable="true" type="tns:IoTData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIoTData" nillable="true" type="tns:ArrayOfIoTData" />
  <xs:complexType name="IoTData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Okay" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IoTData" nillable="true" type="tns:IoTData" />
</xs:schema>