Connected Services/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IoT_Consumer" />
  <xs:element name="IoTConsume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
        <xs:element minOccurs="0" name="Count" type="xs:int" />
        <xs:element minOccurs="0" name="Okay" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IoTConsumeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataIngressed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="queue" nillable="true" type="q1:QueueOfIoTDataVfuG9A47" />
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataIngressedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IoT_Consumer" minOccurs="0" name="DataIngressedResult" nillable="true" type="q2:ArrayOfIoTData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="queue" nillable="true" type="q3:QueueOfIoTDataVfuG9A47" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetDataResult" nillable="true" type="q4:QueueOfIoTDataVfuG9A47" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleted_Ratio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="queue" nillable="true" type="q5:QueueOfIoTDataVfuG9A47" />
        <xs:element minOccurs="0" name="StepId" type="xs:long" />
        <xs:element minOccurs="0" name="Count" type="xs:int" />
        <xs:element minOccurs="0" name="Okay" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleted_RatioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IoT_Consumer" minOccurs="0" name="GetCompleted_RatioResult" nillable="true" type="q6:ArrayOfIoTData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefective_Ratio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="queue" nillable="true" type="q7:QueueOfIoTDataVfuG9A47" />
        <xs:element minOccurs="0" name="StepId" type="xs:long" />
        <xs:element minOccurs="0" name="Count" type="xs:int" />
        <xs:element minOccurs="0" name="Okay" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefective_RatioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IoT_Consumer" minOccurs="0" name="GetDefective_RatioResult" nillable="true" type="q8:ArrayOfIoTData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResponseTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>